<h4>Create a list :</h4>

<br>

<%= form_with model: @list do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
<% end %>

<br>

<%= link_to 'Return to List', lists_path, class:'btn btn-dark' %>
