<div>
  <h4>Create a bookmark:</h4>
</div>

<br>

<div class="w-50">
  <%= simple_form_for([@list, @bookmark]) do |f| %>
    <%= f.input :comment, error: 'Please enter content' %>
    <%= f.association :movie, collection: Movie.all, promt: 'Choose a movie' %>
    <%= f.button :submit, class:'btn btn-dark' %>
  <% end %>
</div>

<br>

<%= link_to 'Return to List', lists_path, class:'btn btn-dark' %>
